
@mixin containerMarginPadding {
  //Offsets and margin
  padding: 65px 135px;

  @media (max-width: $xlg) {
    padding: 0 95px;
  }
  @include media-breakpoint-down(lg) {
    padding: 15px 95px;
  }
  @include media-breakpoint-down(md) {
    padding: 45px 30px;
  }
  @include media-breakpoint-down(sm) {
    padding: 25px 25px;
  }
}

//---Video play/pause button
@mixin playPauseButtonAnim {
  transition: transform .2s;
  &:hover {
    transform: scale(1.3);
  }
}