.footer-container-bg {
  background-color: black;
}

.footer-container {
  //Colors
  color: white;
  background-color: black;

  //Positioning
  padding-top: 150px;
  position: relative;

  @media (max-width: $xlg) {
    scroll-snap-align: none;
    padding-top: 75px;
  }

  /*@include media-breakpoint-down(sm) {
    margin-top: 65px;
  }*/

  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .connect-wrap, .explore-wrap {
    width: 85%;
    max-width: 390px;
    margin: 150px auto;
    @include media-breakpoint-down(md) {
      margin: 45px auto 20px;
    }
  }

  .explore-wrap {
    max-width: 550px;
    @include media-breakpoint-down(md) {
      max-width: 375px;
    }
  }

  h1 {
    margin-bottom: 55px;
    @include media-breakpoint-down(md) {
      margin-bottom: 25px;
    }
  }

  h3 {
    @include media-breakpoint-down(md) {
      margin-top: 25px;
    }
  }

  .social-icons {
    &:nth-child(2), &:nth-child(3) {
      margin-left: 33px;
    }

    img {
      border: 0;
      @include media-breakpoint-down(md) {
        max-width: 45px;
      }
    }
  }

  ul {
    li {
      font-family: "Montserrat";
      font-size: 1em;
      margin: 27px 0;
      a {
        //text-decoration: none;
        color: white;
        &:hover {
          color: $graySiteBg;
        }
      }
    }
  }

  .copyright {
    margin-top: 35px;
    @include media-breakpoint-down(md) {
      font-size: 0.875em;
    }
  }

  .bat-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 409px;
    @include media-breakpoint-down(md) {
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
    }
  }
}